# fly.toml app configuration file generated for bitlet on 2024-08-31T21:02:19+10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bitlet'
primary_region = 'syd'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[build]
  image = "Dockerfile"

[env]
  # Set environment variables if needed

[[services]]
  internal_port = 3030
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "5s"
    interval = "10s"
    timeout = "2s"
