name: Deploy to Fly.io

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Change directory to backend
        working-directory: ./bitlet-backend
        run: echo "Changed directory to bitlet-backend"

      - name: Log in to Fly.io
        run: flyctl auth token ${FLY_API_TOKEN}

      - name: Deploy to Fly.io
        working-directory: ./bitlet-backend
        run: flyctl deploy --remote-only
